#Logs
src/*.log

# OS or Editor folders
src/._*
src/.cache
src/.DS_Store
src/.idea
src/.project
src/.settings
src/.tmproj
src/*.esproj
src/*.sublime-project
src/*.sublime-workspace
nbproject
Thumbs.db

# Komodo
src/.komodotools
src/*.komodoproject

# Folders to ignore
src/logs
src/data
src/public/bower_components

# Mysql Workbench bak file
db/*.bak

# Apache Logs
src/apache_logs/*

#Composer Vendor Files
seeder/vendor/*

#Seeder
seeder/data.json
seeder/vendor/*
seeder/composer.phar