body {
    margin-bottom: 110px;
    overflow: hidden;
}

a, a:hover {
    color: inherit;
}

.header {
    width: 100%;
    background-color: white;
    height: 55px;
    padding-top: 5px;
    position: fixed;
    margin-right: -0.9375rem;
    box-shadow: 0 0.1px 11px rgba(0, 0, 0, .175);
    z-index: 1001;
}

#logo {
    float: left;
    margin-left: 50px;
    width: 60px;
    height: 45px;
}

.title {
    font-style: normal;
    font-size: 27px;
    color: dimgray;
    float: left;
    margin-left: 10px;
}

.header-icon {
    margin-right: 30px;
    margin-top: 15px;
    float: right;
    font-size: 18px;
    cursor: pointer;
    color: gray;
}

.container-hr {
    margin-top: 70px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: white;
}

.search-field {
    font-size: 17px;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-top: 5px;
    width: 50%;
}

.search-field:focus {
    background-color: whitesmoke;
}

.search-icon {
    float: right;
    margin-top: -30px;
    font-size: 20px;
    color: #5aca00;
    margin-right: 50%;
}

.search-icon:hover {
    float: right;
    margin-top: -30px;
    font-size: 20px;
    color: #53ba00;
}

.footer {
    height: 100%;
    margin-top: 10px;
    background-color: #352f2f;
    text-align: center;
    padding: 5px;
}

.footer_items {
    color: white;
    font-weight: 500;
}

a:hover {
    background-color: inherit;
}

#search-area {
    margin-top: 55px;
    background-color: white;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.results {
    font-size: 25px;
    width: 95%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    color: white;
}

#close {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.btn-reset {
    border: 0;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.side-container {
    width: 200px;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 40px;
    position: fixed;
    
}

.side-header {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    color: black;
}

.has-side-header {
    margin-left: 210px;
}

.side-items {
    text-align: center;
    min-height: 40px;
    line-height: 2.5em;
}

.side-items:hover {
    background-color: whitesmoke;
}

.side-title {
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
}